In [1]:
import pandas as pd

### Read data

In [2]:
parquet = "G:/My Drive/data/grab-posis/city=Singapore/part-00000-8bbff892-97d2-4011-9961-703e38972569.c000.snappy.parquet"
df = pd.read_parquet(parquet)
df

,trj_id,driving_mode,osname,pingtimestamp,rawlat,rawlng,speed,bearing,accuracy
0,70014,car,android,1554943236,1.342326,103.888969,18.910000,248,3.9
1,73573,car,android,1555582623,1.321781,103.856366,17.719076,44,4.0
2,75567,car,android,1555141026,1.327088,103.861273,14.021548,34,3.9
3,1410,car,android,1555731693,1.262482,103.823794,13.026521,181,4.0
4,4354,car,android,1555584497,1.283799,103.807210,14.812943,93,3.9
...,...,...,...,...,...,...,...,...,...
3034548,67126,car,android,1554971237,1.349722,103.792840,18.255438,93,6.0
3034549,11786,car,android,1555248352,1.386651,103.774858,23.341484,352,6.0
3034550,21686,car,ios,1555805714,1.329604,103.822454,23.468313,111,5.0
3034551,70139,car,android,1555685891,1.322202,103.886999,20.248346,266,6.0
3034552,23407,car,ios,1554852531,1.394246,103.906796,23.827988,313,12.0

In [3]:
flat_prices_csv = "G:/My Drive/data/grab-posis/hdb-resale-prices/prices_cleaned.csv"
flat_coords_csv = "G:/My Drive/data/grab-posis/hdb-resale-prices/flat_coordinates_clean.csv"
flat_prices = pd.read_csv(flat_prices_csv)
flat_coords = pd.read_csv(flat_coords_csv)

### Get address

In [4]:
flat_prices['address'] = flat_prices['block'] + ' ' + flat_prices['street_name']
all_address = list(flat_prices['address'])
unique_address = list(set(all_address))
print('Unique addresses:', len(unique_address))

Unique addresses: 9279

### Append coordinates

In [11]:
flat_prices.merge(flat_coords, left_on=['address'], right_on=['address'])
flat_prices.drop("Unnamed: 0", 1)

C:\Users\ernie\AppData\Local\Temp/ipykernel_5284/1458670157.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  flat_prices.drop("Unnamed: 0", 1)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,remaining_lease,cpi,real_price,address
0,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,9000.0,NaN,60.894,14779.781259,309 ANG MO KIO AVE 1
1,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,04 TO 06,31.0,Improved,1977,6000.0,NaN,60.894,9853.187506,309 ANG MO KIO AVE 1
2,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,10 TO 12,31.0,Improved,1977,8000.0,NaN,60.894,13137.583342,309 ANG MO KIO AVE 1
3,1990-01-01,ANG MO KIO,1 ROOM,309,ANG MO KIO AVE 1,07 TO 09,31.0,Improved,1977,6000.0,NaN,60.894,9853.187506,309 ANG MO KIO AVE 1
4,1990-01-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,04 TO 06,73.0,New Generation,1976,47200.0,NaN,60.894,77511.741715,216 ANG MO KIO AVE 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826576,2020-09-01,YISHUN,5 ROOM,716,YISHUN ST 71,07 TO 09,131.0,Improved,1987,440000.0,66.250000,99.869,440577.156074,716 YISHUN ST 71
826577,2020-09-01,YISHUN,5 ROOM,760,YISHUN ST 72,07 TO 09,122.0,Improved,1987,458000.0,65.500000,99.869,458600.767005,760 YISHUN ST 72
826578,2020-09-01,YISHUN,5 ROOM,835,YISHUN ST 81,04 TO 06,122.0,Improved,1987,490000.0,66.333333,99.869,490642.741992,835 YISHUN ST 81
826579,2020-09-01,YISHUN,EXECUTIVE,791,YISHUN AVE 2,04 TO 06,146.0,Maisonette,1987,558000.0,66.250000,99.869,558731.938840,791 YISHUN AVE 2
826580,2020-09-01,YISHUN,EXECUTIVE,387,YISHUN RING RD,04 TO 06,146.0,Maisonette,1988,555000.0,66.750000,99.869,555728.003685,387 YISHUN RING RD

In [16]:
flat_prices.groupby('address').last()
flat_prices.to_csv('hdb_prices_feature.csv')